<style>
.panel-body.panel-success {
  background-color: #dff0d8;
  color: #3c763d;
}

.panel-success .panel-heading {
  border-color: #dff0d8;
}

.panel-default .panel-heading {
  border-color: #f5f5f5;
  color: black;
}

.panel-body.panel-primary {
  background-color: #428bca;
  color: white;
}

.panel-body.panel-default {
  background-color: #f5f5f5;
  color: black;
}


</style>

<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> ABOUT US </h1>
    </div>
  </div>
  
  <br>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4> About Alex </h4>
        </div>
        <div class="panel-body panel-success text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a magna nec nisi dapibus dapibus quis eget massa. Curabitur purus leo, imperdiet sed elementum at, ultricies a dui. Nunc felis ante, sagittis sit amet turpis nec, aliquam feugiat purus. Donec porttitor aliquam risus, non condimentum augue. Ut suscipit ipsum augue, eget tempor sapien lacinia varius. Quisque id pretium risus, cursus facilisis magna. Duis a velit erat. Praesent eget accumsan arcu. Pellentesque molestie, purus quis facilisis tincidunt, tortor magna fermentum lorem, ut viverra purus justo nec lacus. Phasellus a vestibulum nibh.

Maecenas dignissim mattis dui quis gravida. Mauris libero urna, maximus eget condimentum at, mattis nec risus. Duis id ipsum dolor. Donec non dictum turpis, a ornare justo. Proin porttitor elementum nisi vitae efficitur. Suspendisse quis elit vel enim viverra volutpat id et velit. In tortor augue, varius ac facilisis posuere, pulvinar at neque.

Cras varius, neque vel convallis volutpat, orci nunc aliquet urna, a tincidunt odio lacus quis ligula. Maecenas volutpat et diam sodales laoreet. Suspendisse hendrerit congue diam, vitae porttitor lacus maximus quis. Sed ultrices dolor id molestie pharetra. Aenean dapibus fermentum interdum. Quisque maximus purus velit. Fusce faucibus dictum purus, non finibus arcu condimentum eget. Maecenas nec urna tristique, rhoncus diam id, tempor libero. Cras vitae massa faucibus, sollicitudin ipsum vitae, accumsan justo. Phasellus at tincidunt nisi. Integer dui ante, maximus nec sodales a, mollis vel nibh. Integer euismod est est, sit amet condimentum neque faucibus sit amet. Sed aliquam ut eros eget semper. Suspendisse a convallis felis, ut feugiat justo. Nunc vel volutpat augue, ut volutpat odio.
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4> About Justin </h4>
        </div>
        <div class="panel-body panel-primary text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a magna nec nisi dapibus dapibus quis eget massa. Curabitur purus leo, imperdiet sed elementum at, ultricies a dui. Nunc felis ante, sagittis sit amet turpis nec, aliquam feugiat purus. Donec porttitor aliquam risus, non condimentum augue. Ut suscipit ipsum augue, eget tempor sapien lacinia varius. Quisque id pretium risus, cursus facilisis magna. Duis a velit erat. Praesent eget accumsan arcu. Pellentesque molestie, purus quis facilisis tincidunt, tortor magna fermentum lorem, ut viverra purus justo nec lacus. Phasellus a vestibulum nibh.

          Maecenas dignissim mattis dui quis gravida. Mauris libero urna, maximus eget condimentum at, mattis nec risus. Duis id ipsum dolor. Donec non dictum turpis, a ornare justo. Proin porttitor elementum nisi vitae efficitur. Suspendisse quis elit vel enim viverra volutpat id et velit. In tortor augue, varius ac facilisis posuere, pulvinar at neque.

          Cras varius, neque vel convallis volutpat, orci nunc aliquet urna, a tincidunt odio lacus quis ligula. Maecenas volutpat et diam sodales laoreet. Suspendisse hendrerit congue diam, vitae porttitor lacus maximus quis. Sed ultrices dolor id molestie pharetra. Aenean dapibus fermentum interdum. Quisque maximus purus velit. Fusce faucibus dictum purus, non finibus arcu condimentum eget. Maecenas nec urna tristique, rhoncus diam id, tempor libero. Cras vitae massa faucibus, sollicitudin ipsum vitae, accumsan justo. Phasellus at tincidunt nisi. Integer dui ante, maximus nec sodales a, mollis vel nibh. Integer euismod est est, sit amet condimentum neque faucibus sit amet. Sed aliquam ut eros eget semper. Suspendisse a convallis felis, ut feugiat justo. Nunc vel volutpat augue, ut volutpat odio.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> About Us </h4>
        </div>
        <div class="panel-body panel-default text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a magna nec nisi dapibus dapibus quis eget massa. Curabitur purus leo, imperdiet sed elementum at, ultricies a dui. Nunc felis ante, sagittis sit amet turpis nec, aliquam feugiat purus. Donec porttitor aliquam risus, non condimentum augue. Ut suscipit ipsum augue, eget tempor sapien lacinia varius. Quisque id pretium risus, cursus facilisis magna. Duis a velit erat. Praesent eget accumsan arcu. Pellentesque molestie, purus quis facilisis tincidunt, tortor magna fermentum lorem, ut viverra purus justo nec lacus. Phasellus a vestibulum nibh.

          Maecenas dignissim mattis dui quis gravida. Mauris libero urna, maximus eget condimentum at, mattis nec risus. Duis id ipsum dolor. Donec non dictum turpis, a ornare justo. Proin porttitor elementum nisi vitae efficitur. Suspendisse quis elit vel enim viverra volutpat id et velit. In tortor augue, varius ac facilisis posuere, pulvinar at neque.

          Cras varius, neque vel convallis volutpat, orci nunc aliquet urna, a tincidunt odio lacus quis ligula. Maecenas volutpat et diam sodales laoreet. Suspendisse hendrerit congue diam, vitae porttitor lacus maximus quis. Sed ultrices dolor id molestie pharetra. Aenean dapibus fermentum interdum. Quisque maximus purus velit. Fusce faucibus dictum purus, non finibus arcu condimentum eget. Maecenas nec urna tristique, rhoncus diam id, tempor libero. Cras vitae massa faucibus, sollicitudin ipsum vitae, accumsan justo. Phasellus at tincidunt nisi. Integer dui ante, maximus nec sodales a, mollis vel nibh. Integer euismod est est, sit amet condimentum neque faucibus sit amet. Sed aliquam ut eros eget semper. Suspendisse a convallis felis, ut feugiat justo. Nunc vel volutpat augue, ut volutpat odio.
        </div>
      </div>
    </div>
  </div>
</div>