<style>
.panel-body.panel-success {
  background-color: #dff0d8;
  color: #3c763d;
}

.panel-success .panel-heading {
  border-color: #dff0d8;
}

.panel-default .panel-heading {
  border-color: #f5f5f5;
  color: black;
}

.panel-body.panel-primary {
  background-color: #428bca;
  color: white;
}

.panel-body.panel-default {
  background-color: #f5f5f5;
  color: black;
}


</style>

<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> ABOUT US </h1>
    </div>
  </div>
  
  <br>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4> About Alex </h4>
        </div>
        <div class="panel-body panel-success text-left">
          <%= ENV['about_alex'].gsub(/(\r)?\n/, "<br/>") %>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4> About Justin </h4>
        </div>
        <div class="panel-body panel-primary text-left">
          <%= ENV['about_justin'].gsub(/(\r)?\n/, "<br/>") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> About Us </h4>
        </div>
        <div class="panel-body panel-default text-left">
          <%= ENV['about_us'].gsub(/(\r)?\n/, "<br/>") %>
        </div>
      </div>
    </div>
  </div>
</div>