<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3> This is where Alex will post our love story when she gets the time to write it! </h3>
    </div>
  </div>

  <div style="text-align: center">
    <img src="kathryn.jpg" alt="kathryn_photo.jpg" style="max-width:800px;max-height:500px;">
  </div>
</div>