<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> ABOUT US </h1>
    </div>
  </div>
  
  <br>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="panel panel-success">
        <div class="panel-heading">
          About Alex
        </div>
        <div class="panel-body">
          About Alex
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="panel panel-primary">
        <div class="panel-heading">
          About Justin
        </div>
        <div class="panel-body">
          About Justin
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          About Us
        </div>
        <div class="panel-body">
          About Us
        </div>
      </div>
    </div>
  </div>

  <div class="text-center visible-lg">
    <img src="kathryn.jpg" alt="kathryn_photo.jpg" style="max-width:800px;max-height:500px;">
  </div>

  <div class="text-center hidden-lg">
    <img src="kathryn.jpg" alt="kathryn_photo.jpg" style="max-width:68%">
  </div>
</div>