<div class="container container-contact">
  <div class="row back-bg-white-text">
    <div class="al-info col-md-6 text-right">
      <div class="row">
        <div class="col-xs-12">
          <h2 id="alex-contact">
            <div class="underline">
              Alex's Contact Info
            </div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            <%= "Email: #{ENV['alex_email']}" %>
            <br>
            <%= "Phone: #{ENV['alex_phone']}" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <h2 id="justin-contact">
            <div class="underline">
              Justin's Contact Info
            </div>
          </h2>
        </div>   
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            <%= "Email: #{ENV['justin_email']}" %>
            <br>
            <%= "Phone: #{ENV['justin_phone']}" %>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
<div>