<div class="row">
  <div class="col-xs-12">
    <h1 id="when">
      When:
    </h1>
  </div>   
</div>

<div class="row">
  <div class="col-xs-12">
    Friday, August 7th, 2015
    <br>
    Times TBD
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1 id="where">
      Where:
    </h1>
  </div>   
</div>

<div class="row">
  <div class="col-xs-12">
    King Family Vineyards
    <br>
    6550 Roseland Farm, Crozet, Virginia 22932
  </div>   
</div>

<br>

<div class="row">
  <div class="col-xs-12">
    <div id="map_canvas"></div>
  </div>
</div>