<div class="container">
  <div class="row">
    <div class="col-xs-6 translucent-background">
      <div class="row">
        <div class="col-xs-12">
          <h2 id="when">
            <div class="underline">
              When
            </div>
          </h2>
        </div>   
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            Friday, August 7th, 2015
            <br>
            Time TBD
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2 id="where">
            <div class="underline">
              Where
            </div>
          </h2>
        </div>   
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            King Family Vineyards
            <br>
            6550 Roseland Farm
            <br>
            Crozet, Virginia 22932
          </div>
        </div>   
      </div>
      <br>
    </div>

    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <div id="map_canvas"></div>
        </div>
      </div>
    </div>
  </div>
</section>