<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> WEDDING DETAILS </h1>
    </div>
  </div>
  
  <br>

  <div class="row text-center">
    <div class="col-md-12 translucent-background">
      <div class="row">
        <div class="col-xs-12">
          <h2 id="when">
            <div class="underline">
              When
            </div>
          </h2>
        </div>   
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            Friday, August 7th, 2015
            <br>
            Pre-ceremony begins at 5:30PM
            <br>
            Ceremony is at 6:00PM
            <br> 
            Social Hour and Reception to follow
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2 id="where">
            <div class="underline">
              Where
            </div>
          </h2>
        </div>   
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            King Family Vineyards
            <br>
            6550 Roseland Farm
            <br>
            Crozet, Virginia 22932
          </div>
        </div>   
      </div>

      <!-- <div class="row">
        <div class="col-xs-12">
          <h2 id="where">
            <div class="underline">
              Attire
            </div>
          </h2>
        </div>   
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="info">
            Semi-Formal
          </div>
        </div>   
      </div> -->
      <br>
    </div>  
  </div>
</section>