<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> GALLERY </h1>
      <br>
      (these are just placeholders for now)
    </div>
  </div>

  <br>

  <div class="gallery-wrapper">

    <% rotated = [10,12,14,15,18,21,27,28,42,57,58,63,67,74] %>

    <% [*1..74].each_slice(3) do |slice| %>

      <div class="row gallery-section">
        <% slice.each do |index| %>
          <% pictureString = "/engagement/%03d" % index  + ".jpg" %>

          <% if rotated.include? index %>

            <div class="col-xs-4 text-center">
              <a class="gallery-link" href="<%= pictureString %>" data-width="2800" data-height="4200">
                <img class="gallery-image" src="<%= pictureString %>" alt="photo">
              </a>
            </div>

          <% else %>

            <div class="col-xs-4 text-center">
              <a class="gallery-link" href="<%= pictureString %>" data-width="4200" data-height="2800">
                <img class="gallery-image" src="<%= pictureString %>" alt="photo">
              </a>
            </div>

          <% end %>

        <% end %>
      </div>

    <% end %>

    <div class="row gallery-section">
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="kathryn.jpg" data-width="2048" data-height="1536">
          <img class="gallery-image" src="kathryn.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV2.jpg" data-width="600" data-height="400">
          <img class="gallery-image" src="/kfv/KFV2.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV3.jpg" data-width="1284" data-height="717">
          <img class="gallery-image" src="/kfv/KFV3.jpg" alt="photo">
        </a>
      </div>
    </div>

    <div class="row gallery-section">
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV4.jpg" data-width="864" data-height="676">
          <img class="gallery-image" src="/kfv/KFV4.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV5-2.jpg" data-width="1239" data-height="794">
          <img class="gallery-image" src="/kfv/KFV5-2.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV6.jpg" data-width="1237" data-height="504">
          <img class="gallery-image" src="/kfv/KFV6.jpg" alt="photo">
        </a>
      </div>
    </div>

  </div>
</div>