<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> GALLERY </h1>
    </div>
  </div>

  <br>

  <div class="gallery-wrapper">
    <div class="row gallery-section">
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV1.jpg" data-width="3625" data-height="2592">
          <img class="gallery-image" src="/kfv/KFV1.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV2.jpg" data-width="600" data-height="400">
          <img class="gallery-image" src="/kfv/KFV2.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV3.jpg" data-width="1284" data-height="717">
          <img class="gallery-image" src="/kfv/KFV3.jpg" alt="photo">
        </a>
      </div>
    </div>

    <div class="row gallery-section">
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV4.jpg" data-width="864" data-height="676">
          <img class="gallery-image" src="/kfv/KFV4.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV5-2.jpg" data-width="1239" data-height="794">
          <img class="gallery-image" src="/kfv/KFV5-2.jpg" alt="photo">
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a class="gallery-link" href="/kfv/KFV6.jpg" data-width="1237" data-height="504">
          <img class="gallery-image" src="/kfv/KFV6.jpg" alt="photo">
        </a>
      </div>
    </div>
  </div>
</div>