<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> GALLERY </h1>
    </div>
  </div>

  <div class="row gallery">
    <div class="col-xs-4 text-center">
      <a href="/kfv/KFV1.jpg">
        <img class="gallery-image" src="/kfv/KFV1.jpg" alt="photo">
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="/kfv/KFV2.jpg">
        <img class="gallery-image" src="/kfv/KFV2.jpg" alt="photo">
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="/kfv/KFV3.jpg">
        <img class="gallery-image" src="/kfv/KFV3.jpg" alt="photo">
      </a>
    </div>
  </div>
</div>