<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> GUESTBOOK </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3> Leave us a note! </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 text-center">
      <textarea id="guestbook-text" class="form-control" rows="5" name="guestbook-text"></textarea>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-offset-2 col-xs-2 text-center">
      <input id="guestbook-name" class="form-control" type="text" name="guestbook-name" placeholder="Your Name">
    </div>
    <div class="col-xs-offset-5 col-xs-1 text-center">
      <div class="btn btn-primary form-control">
        Submit
      </div>
    </div>
  </div>
</div>