<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> GUESTBOOK </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3> Leave us a note! </h3>
    </div>
  </div>

  <form action="/post" method="post">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 text-center">
        <textarea id="guestbook_body" class="form-control" rows="5" name="guestbook_body"></textarea>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-offset-2 col-xs-2 text-center">
        <input id="guestbook_name" class="form-control" type="text" name="guestbook_name" placeholder="Your Name">
      </div>
      <div class="col-xs-offset-5 col-xs-1 text-center">
        <input type="submit" class="btn btn-primary form-control">
      </div>
    </div>
  </form>

  <br>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="panel">
          <div class="panel-body">
            <%= "#{post.name}: #{post.body}" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
</div>