<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> Hotel & Travel Info </h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3 style="margin-top:0;margin-bottom:5px;">***SHUTTLE SERVICE***</h3>
          </div>
          We understand that some of our guests may prefer not to drive to King Family Vineyards, and we're happy to provide a shuttle from the hotels for your convenience. Departure times are as follows:
          <br>
          <br>
          Hampton Inn & Suites: departing at 4:45/4:50PM
          <br>
          Boar's Head Inn: departing at 5:05/5:10PM
          <br>
          ---
          <br>
          Departing King Family for the return trip: 11:30PM
          <br>
          <em>*If there is some interest, the shuttle may do an earlier trip back to the hotels around 10:00 or 10:30PM</em>
          <br>
          <br>
          <strong>If you are at all interested in taking the shuttle to and/or from the wedding, please contact either Alex or Justin ASAP so we can reserve you a seat and provide you with further information (such as departure locations and exact times)!</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <strong>Location Information</strong>
            <br>
            Our hotels are located in Charlottesville, a city at the foothills of the Blue Ridge Mountains in Virginia. Charlottesville lies right at the intersection of highways I-64 and US-29, approximately an hour and a half drive west of Richmond and a two hour drive south of Washington DC. The ceremony and reception are at King Family Vineyards in Crozet, Virginia, about 15-20 minutes west of Charlottesville and a bit deeper into the beautiful mountains.
          </div>

          <br>

          <div>
            <strong>Hotel blocks</strong> have been reserved at the following Charlottesville hotels for the night of August 7th, 2015 (the night of the wedding). Feel free to extend your stay and arrive earlier than the 7th or leave later than the 8th, just be sure to mention that you’re reserving a room from the <strong>Bergman-Dao Wedding Block</strong>. And don’t forget to reserve your rooms as early as you can!
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          The Boar's Head Inn
        </div>

        <div class="panel-body">
          <div>
            The <strong>Boar’s Head Inn</strong> is a beautiful AAA-Four Diamond Resort in Charlottesville, Virginia. In addition to traditional hotel amenities, the Boar’s Head features three swimming pools, an elegant spa, a picturesque golf course, tennis and golf pro shops, a well-equipped sports & fitness center, a gift shop, complimentary afternoon tea, coffee, and pastries, and more!
          </div>

          <br>

          <div>
            Negotiated Rate: <strong>$195</strong> per night (plus $8 resort fee per night)
            <br>
            Website: <a href="http://www.boarsheadinn.com/">The Boar’s Head Inn</a>
            <br>
            Phone Number: <a href="tel:(434) 296-2181">(434) 296-2181</a>
            <br>
            Address: 200 Ednam Drive, Charlottesville, Virginia 22903
            <br>
            Check-In: 4pm
            <br>
            Check-Out: 12pm
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
       <div class="panel panel-success">
        <div class="panel-heading">
          The Hampton Inn & Suites
        </div>

        <div class="panel-body">
          <div>
            The <strong>Hampton Inn & Suites</strong> is a bit farther from the wedding venue than the Boar’s Head, but is located along Charlottesville’s Main Street, halfway between two Charlottesville staples: the Corner (a series of mostly local restaurants and a couple shops, big with the college crowd) and the Downtown Mall (a beautiful pedestrian mall with local shops and restaurants, and a generally great place to spend your time).
          </div>

          <br>

          <div>
            Negotiated Rate:  <strong>$149</strong> Thursday night (8/6/15), <strong>$179</strong> Friday night (8/7/15)
            <br>
            Website: <a href="http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-and-suites-charlottesville-at-the-university-CHOMSHX/index.html">Hampton Inn & Suites</a>
            <br>
            Phone Number: <a href="tel:(434) 923-8600">(434) 923-8600</a>
            <br>
            Address: 900 West Main Street, Charlottesville, Virginia 22903
            <br>
            Check-In: 3pm
            <br>
            Check-Out: 12pm
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          If you’re looking for other hotels in the Charlottesville area, try these!
          <ul>
            <li>
              Residence Inn – a pet-friendly option
            </li>
            <li>
              Courtyard Marriott – right down the street from the Hampton Inn & Suites
            </li>
            <li>
              Or feel free to stay in Richmond, if you’d prefer!
            </li>
          </ul> 

          <strong>Nearby Airports</strong>
          <ul>
            <li>
              Charlottesville Albemarle Airport (CHO)
            </li>
            <li>
              Richmond International Airport (RIC)
            </li>
            <li>
              Ronald Reagan Washington National Airport (DCA)
            </li>
            <li>
              Washington Dulles International Airport (IAD)
            </li>
          </ul>          
        </div>
      </div>
    </div>
  </div>

</div>