<h1 style="text-align: center"> Welcome to Alex and Justin's Wedding Website! </h1>

<div style="text-align: center">
  <!-- <img src="kathryn.jpg" alt="kathryn_photo.jpg" style="max-width:800px;"> -->
</div>