<a id="home" class="anchor"></a>
<section class="slide" id="home-section" data-slide="1" data-stellar-background-ratio="0.5">
  <div class="text-center center-block">
    <h1 id="welcome" class="centered"> Welcome to Justin & Alex's Wedding Website! </h1>
  </div>
</section>

<a id="about" class="anchor"></a>
<section class="slide" id="about-section" data-slide="1" data-stellar-background-ratio="0">
  <div class="container">
    ABOUT
  </div>
</section>

<a id="details" class="anchor"></a>
<section class="slide" id="details-section" data-slide="1" data-stellar-background-ratio="0">
  <div class="container">
    DETAILS
  </div>
</section>