<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= "Justin & Alex's Wedding Website" %>
    </title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Roboto Font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- CUSTOM CSS -->
    <link href="css/styles.css" rel="stylesheet"></link>
    <link href="css/navbar.css" rel="stylesheet"></link>
    <link href="css/backgrounds.css" rel="stylesheet"></link>
    <link href="css/map.css" rel="stylesheet"></link>
    <link href="css/login.css" rel="stylesheet"></link>
    
    <!-- Jquery CDN -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Google Maps JS -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- Stellar JS for Parallax -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="js/scripts.js"></script>
  </head>
  <% if session['is_logged_in'] %>
    <body>
      <%= erb :header %>

      <%= yield %>
    </body>
  <% else %>
    <body id="body-login">

      <div class="container">
        <%= yield %>
      </div>
      
    </body>
  <% end %>  
</html>
