<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
      <title>
        <%= "Justin & Alex's Wedding Website" %>
      </title>
      <!-- Latest compiled and minified CSS -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>
      <link href="styles.css" rel="stylesheet"></link>

      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js"></script>
      <script src="scripts.js"></script>
    </meta>
  </head>
  <% if session['is_logged_in'] %>
    <body>
      <%= erb :header %>
      
      <div class="container">
        <button id="prev">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <button id="next">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
        <%= yield %>        
      </div>
    </body>
  <% else %>
    <body id="body-login">
      <div class="container">
        <%= yield %>
      </div>
    </body>
  <% end %>  
</html>
