<form action="/login_admin" method= "POST" class="absolute-center">
  <div class="row">
    <div class="col-xs-12 text-center">
      <label for="password"> Admin Password: </label>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <input type="password" name="password" class="form-control" id="password">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 text-center">
     <input type="submit" class="btn btn-primary">
   </div>
 </form>

