<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center title">
      <h1> REGISTRIES </h1>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel panel-default" style="background-color: rgba(255,255,255,0.6);">
        <div class="panel-body" style="background-color: rgba(255,255,255,0.6);">
          <!-- <a href="<%=ENV['registry_bbb']%>" target="_blank">
            <img class="logo-image" src="/bedbathandbeyond.jpg" alt="photo">
          </a> -->

          Bed Bath & Beyond coming soon!
        </div>
      </div>

      <div class="panel panel-default" style="background-color: rgba(255,255,255,0.6);">
        <div class="panel-body" style="background-color: rgba(255,255,255,0.6);">
          <a href="<%=ENV['registry_crate']%>" target="_blank">
            <img class="logo-image" src="/crateandbarrel.jpg" alt="photo">
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default" style="background-color: rgba(255,255,255,0.6);">
        <div class="panel-body" style="background-color: rgba(255,255,255,0.6);">
          <a href="<%=ENV['registry_target']%>" target="_blank">
            <img class="logo-image" src="/target.png" alt="photo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>