section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home {
  background-image: url('../kfv/KFV5.jpg');
}

#about {
  background-image: url('../kfv/KFV4.jpg');
}

#details {
  background-image: url('../kfv/KFV7.jpg');
}

#hotels {
  background-image: url('../kfv/KFV6.jpg');
}

#registries {
  background-image: url('../kfv/KFV2.jpg');
}

#contact {
  background-image: url('../kfv/KFV1.jpg');
}