body {
  background-color: #4CBB17;
}

.blue {
  background: #0047AB;
  height: 5px;
  width: 100%;
}

.green {
  background: #4CBB17;
  height: 15px;
  width: 100%;
}

.space {
  background: url("/bg-body.png") repeat;
  height: 10px;
}

#home {
  background-image: url('../kfv/KFV5-2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background: url("/bg-body.png") repeat;
}

#gallery {
  background: url("/bg-body.png") repeat;
  margin: 20px 10px;
}

#details {
  background: url("/bg-body.png") repeat;
}

#hotels {
  background: url("/bg-body.png") repeat;
}

#registries {
  background: #4CBB17;
}

#contact {
  background-image: url('../kfv/KFV1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}