.gallery-image {
  max-width: 100%;
  max-height: 247px;
}

.gallery-section div {
  margin-bottom: 5px;
}

.slick-slide img {
  display: inline;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-prev, .slick-next {
  height: 100%;
  top: 0%;
  margin-top: 0%;
}