@font-face {
  font-family: 'Noteworthy';
  src: url(/fonts/Noteworthy.eot) format('embedded-opentype'), 
       url(/fonts/Noteworthy.woff) format('woff'),
       url(/fonts/Noteworthy.ttf) format('truetype'),
       url(/fonts/Noteworthy.svg) format('svg'),
       url(/fonts/Noteworthy.otf) format('opentype');
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  font-family: 'Noteworthy', sans-serif;
  font-size: 40px;
}

.noteworthy {
  font-family: 'Noteworthy', sans-serif;
}

textarea { 
  resize: vertical;
}

.container {
  padding: 50px 0;
}

.title-row {
  margin-top: 20px;
}

#welcome {
  padding: 10px 0;
}

.welcome-title {
  font-size: 60px;
}

/* http://css-tricks.com/centering-in-the-unknown/ */
.center-block {
  height: 100%;
}

/* The ghost, nudged to maintain perfect centering */
.center-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-top: -40vh;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.info {
  font-size: 20px;
}

.info a {
  color: white;
}

.translucent-background {
  background-color: rgba(255,255,255,0.3);
}

.white-with-border {
  /*http://stackoverflow.com/questions/2570972/css-font-border*/
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  /*-webkit-text-stroke: 0.3px black;*/
}

.back-bg-white-text {
  margin-top: 20vh;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.container-contact {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.post-name {
  font-size: 18px;
}

/* http://stackoverflow.com/questions/5106181/how-to-make-div-stick-to-the-bottom-of-parent-div */

.bottom{
  position:absolute; 
  bottom:0;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.down-arrow {
  font-size: 50px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  vertical-align: middle;
  width: 75px;
  height: 60px;
  top: 0;
  line-height: inherit;
  border-radius: 5px;
}

.down-arrow:before {
  padding-right: 3px;
}