body {
  background: url("/bg-body.png") repeat;
  /*color: white;*/
}

.navbar-default {
  background-color: #4CBB17;
  border-color: #4CBB17;
  border-radius: 0;
  color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: white;
}