body {
  /*http://css-tricks.com/perfect-full-page-background-image/*/
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 0.3s linear;
  margin-bottom: 50px;
  color: black;
}

underline {
  text-decoration: underline;
}

.info {
  font-size: 20px;
}

.container
{
  padding-bottom: 10px;
}

.translucent-background {
  background-color: rgba(255,255,255,0.3);
}

#body-login
{
  background: url("/bg-body.png") repeat;
}

.navbar-default {
  background-color: rgba(255,255,255,0.3);
  border-color: transparent;
  border-radius: 0;
  color: black;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  /*color: white;*/
  color: black;
}

.text-center {
  text-align: center;
}

.text-right {
 text-align: right;
}

.absolute-center {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#map_canvas {
  width: 500px;
  height: 400px;
}

.white-with-border {
  /*http://stackoverflow.com/questions/2570972/css-font-border*/
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  /*-webkit-text-stroke: 0.3px black;*/
}