<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <div>
      Thank you for signing up for our wedding website. You will now recevie emails when we update stuff! 
    </div>

    <br>

    <h4> Wedding Info </h4>

    <div>
      Friday, August 7th, 2015
      <br>
      Pre-ceremony begins at 5:30PM
      <br>
      Ceremony is at 6:00PM
    </div>

    <br>

    <div>
      King Family Vineyards
      <br>
      6550 Roseland Farm
      <br>
      Crozet, Virginia 22932
    </div>

    <br>
    
    <div>
      You can unsubscribe using <a href="http://www.justin-alex.com/unsubscribe/<%=params[:token]%>">this link</a>.
    </div>

    <br>

    <div>
      We'll see you there!
      <br>
      - Justin & Alex
    </div>

  </body>

</html>

