# any ENV['RACK_ENV']

about_alex = File.open('config/about_alex.html').read
about_justin = File.open('config/about_justin.html').read
about_us = File.open('config/about_us.html').read

config_env do 
  set 'login_password', 'password'
  set 'session_secret', 'mySecret'
  set 'alex_phone', '(555) 555-5555'
  set 'alex_email', 'alex@example.com'
  set 'justin_phone', '(555) 555-5555'
  set 'justin_email', 'justin@example.com'
  set 'about_alex', about_alex
  set 'about_justin', about_justin
  set 'about_us', about_us
  set 'email_salt', 'salt'
  set 'gmail_username', 'username'
  set 'gmail_password', 'password'
  # Delete/Comment DATABASE_URL to use SQLite
  # Delete/Comment DATABASE_URL when running `rake config_env:heroku`
  set 'DATABASE_URL', 'postgres://user:password@hostname/database'
end